<p>Hey there, I am Martin. Welcome to Theophagÿst.</p>
<p>I started playing the <a href="/gear" data-route>guitar</a> in the early 90s and for the past {{years}} years, I continued making
  music in one <a href="/music" data-route>form</a> or <a href="/videos" data-route>another</a>,
  although I never turned my hobby into a <a href="https://www.linkedin.com/in/martin-krasimirov-ivanov/" rel="noopener" target="_blank">profession</a>.
  I became a <a href="{{software}}" target="_blank" rel="noopener">software engineer</a> instead.</p>
<p>In 2020, right before the CoVid-19 craze, due to disillusion and that irking feeling that I was wasting my time,
  I quit the band I was playing for in Malta and decided to start my own musical project so this is how Theophagÿst
  (pronounced [<a href="https://www.merriam-webster.com/dictionary/theophagy" target="_blank" rel="noopener">θɪ-ɒ-fə-dʒɪst</a>]) came to life.</p>
