<p>I started my <a href="{{blog}}" target="_blank" rel="noopener">blog</a> back in 2005 with the intention to share
  insight related to my job as a <a href="{{software}}" target="_blank" rel="noopener">software</a> engineer, but every now and then
  I also write about music. Check the latest posts, related to <a href="/" data-route>Theophagyst</a>,
  my <a href="/videos" data-route>videos</a> and <a href="/music" data-route>music</a> in general.</p>
