<h2 class="font-weight-light title pb-3">Cookie Policy for Theophagÿst</h2>
<p>This is the Cookie Policy for Theophagÿst, accessible from <a href="/" data-route>https://theophagyst.martinivanov.net</a></p>
<h3 class="font-weight-light title pb-3">What Are Cookies</h3>
<p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are
  downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>
<p>For more general information on cookies, please read
  <a target="_blank" rel="noopener" href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.
  Information regarding cookies from this Cookies Policy are from
  <a target="_blank" rel="noopener" href="https://www.generateprivacypolicy.com/">The Privacy Policy Generator</a>.</p>
<h3 class="font-weight-light title pb-3">How We Use Cookies</h3>
<p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry
  standard options for disabling cookies without completely disabling the functionality and features they
  add to this site. It is recommended that you leave on all cookies if you are not sure whether you need
  them or not in case they are used to provide a service that you use.</p>
<h3 class="font-weight-light title pb-3">Disabling Cookies</h3>
<p>You can prevent the setting of cookies by adjusting the settings on your browser
  (see your browser Help for how to do this). Be aware that disabling cookies will affect the
  functionality of this and many other websites that you visit. Disabling cookies will usually
  result in also disabling certain functionality and features of the this site.
  Therefore it is recommended that you do not disable cookies. This Cookies Policy was
  created with the help of the <a target="_blank" rel="noopener" href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">Cookies Policy Generator from CookiePolicyGenerator.com</a>.</p>
<h3 class="font-weight-light title pb-3">The Cookies We Set</h3>
<ul>
  <li>
    <p>Site preferences cookies</p>
    <p>In order to provide you with a great experience on this site we provide the functionality to set your
      preferences for how this site runs when you use it. In order to remember your preferences we need
      to set cookies so that this information can be called whenever you interact with a page is affected by your preferences.</p>
  </li>
</ul>
<h3 class="font-weight-light title pb-3">Third Party Cookies</h3>
<p>In some special cases we also use cookies provided by trusted third parties.
  The following section details which third party cookies you might encounter through this site.</p>
<ul>
  <li>
    <p>This site uses <a href="https://analytics.google.com" target="_blank" rel="noopener">Google Analytics</a> which
      is one of the most widespread and trusted analytics solution on the web for helping us to
      understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
    <p>For more information on <a href="https://analytics.google.com" target="_blank" rel="noopener">Google Analytics</a> cookies,
      see the official <a href="https://analytics.google.com" target="_blank" rel="noopener">Google Analytics</a> page.</p>
  </li>
</ul>
<h3 class="font-weight-light title pb-3">More Information</h3>
<p>Hopefully that has clarified things for you and as was previously mentioned if there
  is something that you aren't sure whether you need or not it's usually safer to leave
  cookies enabled in case it does interact with one of the features you use on our site.</p>
<p>However if you are still looking for more information then you can contact us
  through one of our preferred contact methods:</p>
<ul>
  <li>By visiting this link: <a href="/contact" data-route>https://theophagyst.martinivanov.net/contact</a></li>
</ul>
