<p>Below are the some of my instruments, studio and live equipment. Recently, I parted ways with a lot of unused gear and my
  home studio setup is pretty basic at the moment - just a few guitars, my MacBook Pro,
  the <a href="https://www.headrushfx.com/products/pedalboard" rel="noopener" target="_blank">HeadRush Pedalboard</a>,
  studio monitors and a headset.</p>