<p>Welcome to Theophagÿst, the neoclassical/prog/djent project of Martin Ivanov, a software engineer who once wanted to become
  a rock star and never gave up on the idea.</p>
<p>Enjoy your stay here!</p>