<p>"Kinaesthetic Equilibrista" is my third album, released in early 2021 and including tracks recorded in 2020,
  while I was working on "<a href="/music/violent-machine-a-tribute-to-tony-macalpine" title="Violent Machine: A Tribute to Tony MacAlpine">Violent Machine: A Tribute to Tony MacAlpine</a>".</p>
