<p>"MMXXI" is my fourth album, including tracks recorded in 2021, hence the title. This was also my first collaboration
  with other musicians (<a href="https://www.facebook.com/musictools" rel="noopener" target="_blank" title="Ivan Drackaliev">Ivan Drackaliev</a> - guitar,
  <a href="https://www.facebook.com/petranka.kirilova" rel="noopener" target="_blank" title="Petranka Kirilova-Hadjiiska">Petranka Kirilova-Hadjiiska</a> - bass
  and <a href="https://www.facebook.com/NikolaevaGalya" rel="noopener" target="_blank" title="Galya Nikolaeva">Galya Nikolaeva</a> - vocals
  from the <a href="https://www.facebook.com/Dilemma.metal.band" rel="noopener" target="_blank" title="Dilema">Dilema</a> fame), whom I worked with remotely due to logistic reasons and the CoVid-19 lockdown.</p>
