<p>With the beginning of the CoVid-19 craze in early 2020, I found myself with (almost) all of the time in the world, so
  I decided to grasp the opportunity and dedicate it to recording music and shooting <a href="/videos" data-route>videos</a>.
  If you like what you hear, you should follow me on <a href="https://theophagyst.bandcamp.com/" rel="noopener" target="_blank">Bandcamp</a>
  and on <a href="https://www.facebook.com/theophagyst" rel="noopener" target="_blank">Facebook</a>
  to keep up to date with what I do. And do not forget to support your local artists, we all need that!</p>
