<p>"The House I Used To Live In" is an instrumental album which I started in the early 2025 while still
  working (and taking a short break from) on "<a href="/music/the-mean-season" title="The Mean Season">The Mean Season</a>".</p>
