<p>This eponymous album includes tracks recorded between 2015 and 2020 when I was sporadically trying to
  write and record <a href="/music" data-route>music</a>, balancing between my
  <a href="https://www.linkedin.com/in/martin-krasimirov-ivanov/" target="_blank" rel="noopener">daytime job</a>
  and playing for a band in Malta. After I finally took the decision to quit the band and try to dedicate more time to my own music,
  I started the Theophagÿst project, recorded a few more songs and some covers this was my first "official" releaze.</p>
