<p>These are some of the videos I have created to promote my
  <a href="/music" data-route>music endeavors</a> and at the same time experiment with chroma key,
  color grading and learning video production. Follow Theophagÿst on
  <a href="https://www.facebook.com/theophagyst" rel="noopener" target="_blank">Facebook</a> if you want to keep up
  with me.</p>
