<p>This album was not planned, it just happened. In early 2020 I decided to record, just for fun, a cover version of Tony Macalpine's
  "<a href="/music/violent-machine-a-tribute-to-tony-macalpine/tears-of-sahara-7" data-route title="Tears of Sahara">Tears of Sahara</a>" and later
  on "<a href="/music/violent-machine-a-tribute-to-tony-macalpine/key-to-the-city" data-route title="Key to the City">Key to the City</a>" followed suit.
  In the next couple of months I recorded 9 more songs and the album was done... Some of the songs feature my good friend and talented fellow musician
  <a href="https://www.facebook.com/stepan.bahdikyan.13" target="_blank" rel="noopener" title="Stepan Bahdikyan">Stepan Bahdikyan</a> of the Stormblast fame on the bass.</p>
